html,
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
#root {
  height: 100%;
}
.screenshot-full-size {
  overflow: auto;
  width: 70%;
}
.screenshot-full-size .screenshot-coments-block .screenshot-big-size {
  overflow: auto;
}
.screenshot-full-size .screenshot-coments-block .screenshot-big-size img {
  width: auto;
}
.none-visible {
  display: none !important;
}
.show {
  display: block !important;
}
.not-active {
  background-color: #d5d5d5 !important;
  color: #ececec !important;
}
select {
  appearance: none !important;
  direction: ltr;
  padding: 0 5px;
  border: none;
  color: #333366;
  font-family: Century Gothic, 'EngraversGothic BT', 'Arial Narrow', Arial, sans-serif;
  font-stretch: ultra-condensed;
}
select:focus {
  outline: none;
}
select option {
  font-size: 30px;
}
.wrapper {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color: #333366;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper .header-wrap {
  padding: 5px;
  background-color: #35375c;
}
.wrapper .header-wrap .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 100px;
  margin: 0 auto;
  width: 80%;
  height: 100px;
}
.wrapper .header-wrap .header .title {
  background-color: #35375c;
  font-family: 'EngraversGothic BT', 'Arial Narrow', Arial, sans-serif;
  font-stretch: ultra-condensed;
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
}
.wrapper .header-wrap .header .title option {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-stretch: ultra-condensed;
  font-weight: lighter;
}
.wrapper .header-wrap .header .logo {
  display: flex;
}
.wrapper .header-wrap .header .logo a img {
  width: 85%;
}
.wrapper .group-info-block {
  display: flex;
  flex-direction: row;
  min-height: 210px;
  padding-top: 20px;
  overflow-x: hidden;
}
.wrapper .group-info-block .group-number {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  min-width: 240px;
  border-top: 1px solid #333366;
  border-bottom: 1px solid #333366;
  border-right: 1px solid #333366;
  border-radius: 0 7px 7px 0;
  margin: 20px 0 0 0;
  background-color: #fff;
}
.wrapper .group-info-block .group-number span {
  color: #333366;
  font-size: 35px;
  font-family: Century Gothic, 'EngraversGothic BT', 'Arial Narrow', Arial, sans-serif;
  font-stretch: ultra-condensed;
  text-transform: uppercase;
  margin-right: 15px;
}
.wrapper .group-info-block .group-number select.group-heading {
  font-size: 30px;
  padding: 0;
  margin: 0 20px 0 35px;
}
.wrapper .group-info-block .group-number select.group-heading option {
  font-size: 20px;
}
.wrapper .group-info-block .group-number select.number {
  font-size: 50px;
  padding: 0 40px 0 0;
  direction: rtl;
}
.wrapper .group-info-block .group-number select.number option {
  font-size: 20px;
}
.wrapper .group-info-block .group-info-wrap {
  overflow-y: hidden;
  overflow-x: auto;
  border-bottom: 3px solid #666699;
  box-sizing: border-box;
  margin-left: 60px;
  height: 190px;
}
.wrapper .group-info-block .group-info-wrap .student-info {
  display: flex;
  flex-direction: row;
}
.wrapper .group-info-block .group-info-wrap .student-info .student {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  margin: 20px;
  margin-right: 30px;
}
.wrapper .group-info-block .group-info-wrap .student-info .student .avatar img {
  width: 75px;
  height: 75px;
  border: 1px solid #333366;
  border-radius: 50px;
}
.wrapper .group-info-block .group-info-wrap .student-info .student p.student-name {
  text-align: center;
  line-height: 20px;
}
.wrapper .tasks-screenshots-block {
  margin-top: 10px;
  flex-direction: row;
  display: flex;
  flex-grow: 2;
}
.wrapper .tasks-screenshots-block .topics-block {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 245px;
  padding-top: 5px;
  background-color: #fff;
}
.wrapper .tasks-screenshots-block .topics-block .topics {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.wrapper .tasks-screenshots-block .topics-block .topics .topic {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 50px;
  margin-bottom: 10px;
  background-color: #333366;
}
.wrapper .tasks-screenshots-block .topics-block .topics .topic span {
  font-size: 18px;
}
.wrapper .tasks-screenshots-block .topics-block .topics .task {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 50px;
  margin-bottom: 10px;
  background-color: #9999cc;
}
.wrapper .tasks-screenshots-block .topics-block .topics .task span {
  font-size: 16px;
}
.wrapper .tasks-screenshots-block .screenshots-block {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  flex-direction: row;
  margin-left: 55px;
}
.wrapper .tasks-screenshots-block .screenshots-block .screenshots-wrap .screenshots {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.wrapper .tasks-screenshots-block .screenshots-block .screenshots-wrap .screenshots .empty-screenshot {
  width: 75px;
  height: 50px;
  border: #333366 dotted 1px;
  box-sizing: border-box;
  margin: 5px 20px;
}
.wrapper .tasks-screenshots-block .screenshots-block .screenshots-wrap .screenshots .screenshot-item {
  width: 75px;
  height: 50px;
  margin: 5px 20px;
}
.wrapper .tasks-screenshots-block .screenshots-block .screenshots-wrap .screenshots .screenshot-item img.screenshot {
  width: 75px;
  height: 50px;
}
.wrapper .screenshotsPopup {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 1000px;
  min-width: 300px;
  height: 650px;
  box-shadow: 0 0 15px #000000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.wrapper .screenshotsPopup .screenshotsPopup-header {
  min-height: 110px;
  padding: 0 90px;
  background-color: #35375c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper .screenshotsPopup .screenshotsPopup-header select.task-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  color: #fff;
  background-color: #35375c;
}
.wrapper .screenshotsPopup .screenshotsPopup-header select.task-title option {
  font-size: 18px;
}
.wrapper .screenshotsPopup .screenshotsPopup-header .sudent-info {
  align-self: left;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.wrapper .screenshotsPopup .screenshotsPopup-header .sudent-info select.group {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #fff;
  background-color: #35375c;
  direction: rtl;
}
.wrapper .screenshotsPopup .screenshotsPopup-header .sudent-info select.group option {
  font-size: 18px;
}
.wrapper .screenshotsPopup .screenshotsPopup-header .sudent-info select.student-name {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #35375c;
  direction: rtl;
}
.wrapper .screenshotsPopup .screenshotsPopup-header .sudent-info select.student-name option {
  font-size: 14px;
}
.wrapper .screenshotsPopup .screenshotsPopup-header .student-avatar {
  width: 75px;
  height: 75px;
  background: #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.wrapper .screenshotsPopup .screenshotsPopup-header .student-avatar img.avatar {
  width: 75px;
  height: 75px;
}
.wrapper .screenshotsPopup .screenshotsPopup-header span.close-btn {
  width: 30px;
  height: 30px;
  background-color: #cc0000;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  background-image: url(../assets/images/close-btn.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}
.wrapper .screenshotsPopup .student-screenshots {
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 0 20px 60px;
}
.wrapper .screenshotsPopup .student-screenshots .student-screenshot {
  margin: 10px 10px 15px 10px;
}
.wrapper .screenshotsPopup .student-screenshots .student-screenshot img.screenshot {
  min-width: 150px;
  min-height: 105px;
  border: 1px solid #333366;
  border-radius: 5px;
  margin-bottom: 8px;
}
.wrapper .screenshotsPopup .student-screenshots .student-screenshot p.date {
  font-size: 12px;
  text-align: center;
  line-height: 0px;
  margin: 0;
}
.wrapper .screenshotsPopup .screenshot-coments-block {
  height: 100%;
  display: flex;
}
.wrapper .screenshotsPopup .screenshot-coments-block .screenshot-big-size {
  box-sizing: border-box;
  background-color: black;
  width: 70%;
  display: flex;
  align-items: center;
}
.wrapper .screenshotsPopup .screenshot-coments-block .screenshot-big-size img {
  width: 100%;
}
.wrapper .screenshotsPopup .screenshot-coments-block .comments {
  box-sizing: border-box;
  width: 30%;
}
.wrapper .screenshotsPopup .screenshot-coments-block .comments .send-comment {
  background-color: #dedeee;
  padding: 20px 10px;
  border-bottom: 1px solid #898cc1;
}
.wrapper .screenshotsPopup .screenshot-coments-block .comments .send-comment textarea.message {
  width: 75%;
  padding: 5px;
  border: none;
  border-radius: 2px;
  font-family: Arial, sans-serif, Arial, sans-serif;
  font-size: 13px;
  resize: none;
  caret-color: #35375c;
}
.wrapper .screenshotsPopup .screenshot-coments-block .comments .send-comment textarea.message:focus {
  outline: none;
}
.task-description-page .task-header-wrap {
  padding: 5px;
  background-color: #35375c;
}
.task-description-page .task-header-wrap .task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 100px;
  margin: 0 auto;
  width: 80%;
  height: 100px;
}
.task-description-page .task-header-wrap .task-header .task-title {
  background-color: #35375c;
  font-family: 'EngraversGothic BT', 'Arial Narrow', Arial, sans-serif;
  font-stretch: ultra-condensed;
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
}
.task-description-page .task-header-wrap .task-header .logo {
  display: flex;
}
.task-description-page .task-header-wrap .task-header .logo a img {
  width: 85%;
}
.task-description-page .task-description-wrap .task-description h1 {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .wrapper .header-wrap {
    display: none;
  }
  .wrapper .group-info-block {
    min-height: 170px;
  }
  .wrapper .group-info-block .group-number {
    position: absolute;
    background-color: #fff;
    height: 80px;
    min-width: 180px;
    margin: 13px 0 0 0;
    left: -210px;
  }
  .wrapper .group-info-block .group-number span {
    font-size: 30px;
    margin-right: 0;
  }
  .wrapper .group-info-block .group-number select {
    background-image: none;
    width: auto;
    font-size: 20px;
    padding: 0 0 0 25px;
  }
  .wrapper .group-info-block .group-info-wrap {
    border-bottom: 2px solid #666699;
    margin-left: 0px;
    height: 160px;
    margin-left: 20px;
  }
  .wrapper .group-info-block .group-info-wrap .student-info .student {
    margin: 15px;
    width: 70px;
  }
  .wrapper .group-info-block .group-info-wrap .student-info .student .avatar {
    width: 65px;
    height: 65px;
    margin-bottom: 5px;
  }
  .wrapper .group-info-block .group-info-wrap .student-info .student p.student-name {
    line-height: 20px;
  }
  .wrapper .tasks-screenshots-block {
    margin-top: 10px;
    height: 100%;
    position: relative;
  }
  .wrapper .tasks-screenshots-block .topics-block {
    left: -220px;
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0;
  }
  .wrapper .tasks-screenshots-block .topics-block .topics .topic {
    height: 40px;
    margin-bottom: 10px;
  }
  .wrapper .tasks-screenshots-block .topics-block .topics .task {
    min-height: 40px;
  }
  .wrapper .tasks-screenshots-block .screenshots-block {
    margin-left: 20px;
    height: 100%;
  }
  .wrapper .tasks-screenshots-block .screenshots-block .screenshots-wrap .screenshots .empty-screenshot {
    width: 70px;
    height: 40px;
    margin: 5px 20px;
  }
  .wrapper .tasks-screenshots-block .screenshots-block .screenshots-wrap .screenshots .screenshot-item {
    width: 70px;
    height: 40px;
    margin: 5px 20px;
  }
  .wrapper .tasks-screenshots-block .screenshots-block .screenshots-wrap .screenshots .screenshot-item img.screenshot {
    width: 70px;
    height: 40px;
  }
  .wrapper .screenshotsPopup {
    width: 95%;
    height: 70%;
  }
  .wrapper .screenshotsPopup .screenshotsPopup-header {
    min-height: 90px;
    padding: 5px 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .wrapper .screenshotsPopup .screenshotsPopup-header select.task-title {
    font-size: 27px;
    direction: ltr;
    margin: 5px 0;
  }
  .wrapper .screenshotsPopup .screenshotsPopup-header .sudent-info {
    width: 100%;
  }
  .wrapper .screenshotsPopup .screenshotsPopup-header .sudent-info select.group {
    display: none;
  }
  .wrapper .screenshotsPopup .screenshotsPopup-header .sudent-info select.student-name {
    color: #fff;
    font-size: 17px;
    direction: ltr;
    margin: 5px 0;
  }
  .wrapper .screenshotsPopup .screenshotsPopup-header .student-avatar {
    display: none;
  }
  .wrapper .screenshotsPopup .student-screenshots {
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 20px 0px;
  }
  .wrapper .screenshotsPopup .student-screenshots .student-screenshot {
    margin: 10px 10px 15px 10px;
  }
  .wrapper .screenshotsPopup .student-screenshots .student-screenshot img.screenshot {
    min-width: 220px;
    min-height: 150px;
  }
}
