html {
  height: 100%;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: #333366;
  display: flex;
  flex-direction: column;
  height: 100%;
}
body .header-wrap {
  padding: 5px;
  background-color: #35375c;
}
body .header-wrap .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 100px;
  margin: 0 auto;
  width: 80%;
  height: 100px;
}
body .header-wrap .header .title {
  font-family: 'EngraversGothic BT', 'Arial Narrow', Arial, sans-serif;
  font-stretch: ultra-condensed;
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
}
body .header-wrap .header .logo {
  display: flex;
}
body .header-wrap .header .logo a img {
  width: 85%;
}
body .group-info-block {
  display: flex;
  flex-direction: row;
  height: 180px;
}
body .group-info-block .group-number {
  margin: 10px;
  height: 120px;
  width: 210px;
  background-color: #4dff00;
}
body .group-info-block .group-info-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #666699;
}
body .group-info-block .group-info-wrap .student-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
  height: 100%;
}
body .group-info-block .group-info-wrap .student-info .student {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
body .group-info-block .group-info-wrap .student-info .student .avatar {
  width: 75px;
  height: 75px;
  border: 1px solid #333366;
  border-radius: 50px;
  margin-bottom: 10px;
}
body .tasks-screenshots-block {
  background-color: aqua;
  border: 3px dotted #ff00ee;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  body .header-wrap .header {
    display: flex;
    width: 90%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  body .header-wrap .header .title {
    display: flex;
    font-size: 55px;
    margin-bottom: 20px;
  }
  body .header-wrap .header .logo a img {
    display: flex;
    align-self: center;
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
  }
  body .group-info-block {
    width: 80%;
  }
  body .group-info-block .group-info-wrap {
    border-bottom: 3px solid #666699;
  }
  body .group-info-block .group-info-wrap .student-info .student .avatar {
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
  }
}
